* {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

body {
  width: 100%;
  height: 100%;
  font-family: system-ui;
  line-height: 1.5;
}

html {
  height: 100%;
}

main {
  padding: 0.5em;
  display: block;
  margin: 0 auto;
  max-width: 768px;
}

ul {
  list-style-position: inside;
}

*+h1, *+p, *+ul {
  margin-top: 1em;
}

body.main-page {
  display: grid;
  grid-template-columns: 1fr 512px;
  grid-template-rows: 40px 1fr 100px;
  grid-template-areas: 
    "header header"
    "code   preview"
    "output output";
}

header {
  --header-height: 40px;
  --header-padding: 0.5em;
  --text-color: #000;
  grid-area: header;
  background-color: #f9c0ff;
  line-height: var(--header-height);
  display: flex;
}

header .title, header .spacer {
  flex: 1;
}

header a {
  text-decoration: none;
}
header a.text-link {
  padding: 0 var(--header-padding);
}

header a,
header a:visited,
header a:active {
  color: var(--text-color);
}

header img {
  fill: #4b0053;
}

header :first-child {
  padding-left: var(--header-padding);
}
header :last-child {
  padding-right: var(--header-padding);
}
header .image-link {
  display: flex;
  /*background-color: #ff8;*/
  width: var(--header-height);
  height: var(--header-height);
  justify-content: center;
  align-items: center;
}

header .image-link img {
  width: calc(0.75 * var(--header-height));
  aspect-ratio: 1;
}

#editor-container {
  grid-area: code;
  display: flex;
  overflow: hidden; /* for some reason this is required for fit-content to do anything in the parent */
}

#editor-container > * {
  flex: 1;
  max-width: 100%; /* required for horizontal scrolling */
}

#output {
  grid-area: output;
  padding: 8px;
  background-color: #ffc;
  overflow: auto;
}

#output .err {
  color: #900;
}

#output {
  font-family: Menlo, monospace;
  font-size: 11pt;
}

canvas {
  grid-area: preview;
  width: 512px;
  height: 512px;
  margin: 0 auto;
  display: block;
}
