* {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

body {
  width: 100%;
  height: 100%;
  font-family: system-ui;
  line-height: 1.5;
}

html {
  height: 100%;
}

main {
  padding: 0.5em;
  display: block;
  margin: 0 auto;
  max-width: 768px;
}

ul {
  list-style-position: inside;
}

*+h1, *+p, *+ul {
  margin-top: 1em;
}

body.main-page {
  overflow: none;
  display: flex;
  flex-direction: column;
}

#header { flex: 0; }
#code-and-preview { flex: 10; overflow: hidden; }
#output { height: 3.5em; }

header {
  --header-height: 40px;
  --header-padding: 0.5em;
  --text-color: #000;
  background-color: #ffc6f9;
  background-image: linear-gradient(to right, #ffc6f9, #ffffba);
  height: var(--header-height);
  line-height: var(--header-height);
  display: flex;
}

#code-and-preview {
  display: flex;
  flex-direction: row-reverse;
}

#code-container { flex: 4; overflow: hidden; }
#canvas-container { flex: 3; max-width: 512px; overflow: hidden; }

header .title, header .spacer {
  flex: 1;
}

header a {
  text-decoration: none;
}
header a.text-link {
  padding: 0 var(--header-padding);
}

header a,
header a:visited,
header a:active {
  color: var(--text-color);
}

header img {
  fill: #4b0053;
}

header > :first-child {
  padding-left: var(--header-padding);
}
header > :last-child {
  padding-right: var(--header-padding);
}
header .image-link {
  display: flex;
  /*background-color: #ff8;*/
  width: var(--header-height);
  height: var(--header-height);
  justify-content: center;
  align-items: center;
}

header .image-link img {
  width: calc(0.75 * var(--header-height));
  aspect-ratio: 1;
}

#code-container {
  display: flex;
  flex-direction: column;
}

#editor-container {
  overflow: hidden;
  display: flex;
  flex: 1;
}

#editor-container > * {
  flex: 1;
  max-width: 100%; /* required for horizontal scrolling */
}

#output-resize-handle {
  height: 12px;
  cursor: ns-resize;
  touch-action: none;
  background: #eee url(/icons/grip-horizontal.svg) no-repeat center;
}

#output {
  padding: 8px;
  background-color: #ffc;
  overflow: auto;
}

#output .err {
  color: #900;
}

#output, span.timestamp, .toolbar input[inputmode=numeric] {
  font-family: Menlo, monospace;
  font-size: 11pt;
}

#code-and-preview {
  --control-height: 40px;
}

#canvas-container {
  grid-area: preview;
  display: flex;
  justify-content: top;
  align-items: center;
  max-width: 512px;
  flex-direction: column;
  /*background-color*/: #ff8;
}

.toolbar {
  width: 100%;
  height: var(--control-height);
  line-height: var(--control-height);
  /*background-color: #f8f;*/
  display: flex;
  user-select: none;
  background-color: #eee;
}

.toolbar button:not(.hidden:first-child)+button, .toolbar label+label {
  margin-left: -6px;
}

.toolbar .spacer {
  flex: 1;
}
.toolbar .scrubber {
  flex: 1;
  background-color: #8f8;
}
.toolbar .timestamp {
  padding: 0 1ch;
}
.toolbar input[inputmode=numeric] {
  text-align: center;
  border: none;
  width: 6ch;
  background-color: #eee;
  box-shadow: inset 2px 0 2px -2px #000, inset -2px 0 2px -2px #000;
}

.toolbar .text {
  padding: 0 4px;
}

.toolbar fieldset {
  display: inline;
  border: none;
  padding: none;
  /*background-color: #88f;*/
  white-space: nowrap;
}

.toolbar button {
  min-width: var(--control-height);
  /*background-color: #f8f;*/
  border: none;
  cursor: pointer;
  background-color: initial;
}

.toolbar fieldset label {
  display: inline-block;
  height: 100%;
  /*background-color: #8ff;*/
  cursor: pointer;
  min-width: var(--control-height);
  text-align: center;
}

.toolbar fieldset input[type=radio] {
  display: none;
}

.toolbar button img,
.toolbar fieldset input[type=radio] + span,
.toolbar fieldset input[type=radio] + img {
  padding: 4px;
  border-radius: 6px;
}

.toolbar fieldset input[type=radio]:checked + span,
.toolbar fieldset input[type=radio]:checked + img {
  background-color: rgba(0, 0, 0, 0.15);
}

.toolbar button:hover img,
.toolbar fieldset label:hover input[type=radio] + span,
.toolbar fieldset label:hover input[type=radio] + img {
  background-color: rgba(0, 0, 0, 0.1);
}

.toolbar button:active img,
.toolbar fieldset label:hover input[type=radio]:checked + span,
.toolbar fieldset label:hover input[type=radio]:checked + img {
  background-color: rgba(0, 0, 0, 0.2);
}

.toolbar .indicator {
  min-width: var(--control-height);
  display: flex;
}
.toolbar fieldset {
  display: flex;
  flex-direction: row;
}
.toolbar .indicator,
.toolbar fieldset label,
.toolbar button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.toolbar .indicator img {
  border-radius: 12px;
  padding: 2px;
}
.toolbar .indicator.compilation-error img {
  background-color: #ff9ca1;
}
.toolbar .hidden {
  display: none;
}
.toolbar .indicator img,
.toolbar fieldset label img,
.toolbar button img {
  width: 20px;
  height: 20px;
}

canvas {
  max-width: calc(min(100%, 512px));
  max-height: calc(min(100% - 2 * var(--control-height), 512px));
  flex: 0;
  aspect-ratio: 1;
  touch-action: none;
}

@media all and (max-width: 512px) {
  #code-and-preview {
    flex-direction: column;
  }
  #canvas-container { flex: 4; }
  #editor-container { flex: 1; }
  #output { height: 1.5em; }
}
