:root {
  --foreground: #4d4d4c;
  --background: #ffffff;
  --popover-background: #ffffffa0;
  --selection: #d6d6d6;
  --line: #efefef;
  --comment: #8e908c;
  --red: #c82829;
  --orange: #f5871f;
  --yellow: #eab700;
  --green: #718c00;
  --aqua: #3e999f;
  --blue: #4271ae;
  --purple: #8959a8;
  --window: #efefef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #c5c8c6;
    --background: #1d1f21;
    --popover-background: #1d1f21a0;
    --selection: #373b41;
    --line: #282a2e;
    --comment: #969896;
    --red: #cc6666;
    --orange: #de935f;
    --yellow: #f0c674;
    --green: #b5bd68;
    --aqua: #8abeb7;
    --blue: #81a2be;
    --purple: #b294bb;
    --window: #4d5057;
  }
}

:root {
  color-scheme: light dark;
  --toolbar-fg: var(--blue);
  --toolbar-bg: var(--window);
  --popover-backdrop: blur(5px);
  --monospace-family: Menlo, monospace;
  --monospace-size: 13px;
}
